/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: linear-gradient(-45deg, #1a2980, #26d0ce);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.navbar-inverse {
    background-image: none;
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0);
}

.profileInfo {
    width: 40%;
}

.profile_table {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.tooltip {
    opacity: 1;
    position: unset;
}

.row {
    margin-top: 2em;
}

.material-icons {
    font-size: 3em;
}

.listOfClients {
    color: white;
}

tr:hover {
    background: rgba(52, 73, 94, 1);
}

tr:hover, .list-group-item.active:hover {
    background: rgba(52, 73, 94, 1);
}

.table_background, .list-group-item.active {
    background-color: rgba(37, 116, 169, 0.67);
    z-index: 1;
    color: #495026;
    text-decoration: none;
}


.table_background {
    background-color: rgba(37, 116, 169, 0.67);
}

.row_coloured, c {
    color: white;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



