@model EasyTimes.Models.ServiceOrder

@{
    ViewData["Title"] = "PaymentStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PaymentStatus</h2>

<h4>ServiceOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PaymentStatus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />

          
            <div class="form-group">

                <label asp-for="PaymentStatus" class="control-label" />
                <div>
                    <input type="radio" name="PaymentStatus" value="NotBilled" /> Not billed
                </div>
                <div>
                    <input type="radio" name="PaymentStatus" value="Billed" /> Billed
                </div>
                

            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

