@model EasyTimes.Models.ViewModels.EditProfileViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bank" class="control-label"></label>
                <input asp-for="Bank" class="form-control" />
                <span asp-validation-for="Bank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agency" class="control-label"></label>
                <input asp-for="Agency" class="form-control" />
                <span asp-validation-for="Agency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentAccount" class="control-label"></label>
                <input asp-for="CurrentAccount" class="form-control" />
                <span asp-validation-for="CurrentAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerHour" class="control-label"></label> (R$)
                <input asp-for="PricePerHour" type="number" class="form-control" />
                <span asp-validation-for="PricePerHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GasPrice" class="control-label"></label> (R$)
                <input asp-for="GasPrice" type="number" class="form-control" />
                <span asp-validation-for="GasPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OvertimeProfitRate" class="control-label"></label> (%)
                <input asp-for="OvertimeProfitRate" type="number" class="form-control" />
                <span asp-validation-for="OvertimeProfitRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NormalTime" class="control-label"></label> (h)
                <input asp-for="NormalTime" type="number" class="form-control" />
                <span asp-validation-for="NormalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeToMealTicket" class="control-label"></label> (h)
                <input asp-for="TimeToMealTicket" type="number" class="form-control" />
                <span asp-validation-for="TimeToMealTicket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealTicket" class="control-label"></label> (R$)
                <input asp-for="MealTicket" type="number" class="form-control" />
                <span asp-validation-for="MealTicket" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Back to Home</a>

            </div>
            
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
